<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/views/style.css">



</head>
<body>
 <div class="home">
   <h1>Hello world!
     <img src="views/assets/giphy.gif" width="32" height="32">
   </h1>
      
   <div class="info">
     <h2>Technologies</h2>
      <ul>
        <li>NODEJS</li>
        <li>EXPRESSJS</li>
        <li>MONGO</li>
      </ul>
   
    <p> In this project you can see the basic structure of an Express            project (MVC), the implementation of some libraries for security and       server performance, jsonwebtoken and authorization,etc.</p>
     <a href="https://github.com/Jsequeirag/NODEJS-EXPRESS-MONGO-PERFECT-CRUD">Github repo<img src="/views/assets/github-icon.png" width="32" height="32"></a>
     
  </div>
 </div>
  <div class="footer">
  <img src="views/assets/logo.png" width="32" height="32">JSEQUEIRAG
  </div>
</body>
</html>